<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Web Scraping" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="container mx-auto mt-28 px-5">
      <% if flash[:notice] %>
        <div class="flash-message bg-green-500 text-white p-3 rounded-md mb-4">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="flash-message bg-red-500 text-white p-3 rounded-md mb-4">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
